.slider {
    position: relative;
    width: 700px;
    margin: 20px auto;
    height: 700px;
    overflow: visible;
}

.slider_box {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 420px;

    width: 60%;
    text-align: left;

    opacity: 0;
    transition: all 0.4s ease;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_box p {
    margin-left: -30%;
}

.bold {
    font-weight: bold;
}

.slider_box img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50px;
    flex-shrink: 0;
}

.active_box {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 3;
}

.prev_box {
    transform: translate(-150%, -50%) scale(0.8);
    opacity: 0.5;
}

.next_box {
    transform: translate(50%, -50%) scale(0.8);
    opacity: 0.5;
}

.inactive_box {
    opacity: 0;
    pointer-events: none;
}

.slider_text {
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.active_box .slider_text {
    opacity: 1;
}

.prev_box .slider_text,
.next_box .slider_text,
.inactive_box .slider_text {
    opacity: 0;
}

/* Slider Button----------------------------------------------*/
.slide_button {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);

    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

    z-index: 10;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.slide_button span {
    transform: translateY(-3px);
}

.prev-slide_button {
    left: 10px;
}

.next-slide_button {
    right: 10px;
}

.slide_button:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* MOBILE -----------------------------------------------------*/
@media (max-width: 768px) {

    .slider {
        width: 400px;
        height: 600px;
    }

    .slider_box {
        text-align: left;
        height: 420px;
        width: 80%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.95);
    }

    .slider_box p {
        font-size: 1.5rem;
    }

    .active_box {
        transform: translate(-50%, -50%) scale(1.05);
    }

    .prev_box,
    .next_box {
        display: none;
    }
}